/* Color palette reference

from http://www.colourlovers.com/palette/92095/Giant_Goldfish

#E0E4CC greenish-cream
#1d6991 dark teal
#69D2E7 medium teal
#A7DBD8 light teal
#F38630 orange
#FA6900 redder orange

Not from original palette:
#7887af gray-ish teal obtained by averaging dark teal and medium teal
*/


body {
  background-color: #E0E4CC;
  font-family: Helvetica, sans-serif;
  line-height:1.6;
  font-size:18px;
}

h1, h2, h3, h4 {
  font-family: Courier,serif;
  color:#1d6991;
  line-height: 1.2;
}

h1 {
  text-align: center;
}

a:link {
    color: #1d6991;
}

a:visited {
    color: #7887af;
}

/* header elements */

.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 200px;
}

.navlinks {
    margin:40px auto;
    max-width:650px;
    padding:0 10px;
    text-align: center;
    font-family: Courier,serif;
    font-size:24px;
}

.navlinks a {
    text-decoration: none;
    color:#FA6900;
}

/* content div should hold anything not in a gallery */



.content {
  margin:40px auto;
  width: 60vw;
  min-width: 300px;
  /* debugging */
  /*background-color: #EEE;*/
  padding:0 10px;
}

.content img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 50vw;
  padding: 10px;
}

.circle {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  display: block
}

.center-block {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  display: block;
}

.pattern-flair {
  color: #F38630;
  font-family: Courier,serif;
  font-size: 24px;
}

/* gallery elements */

.gallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /* debugging */
  /*background: #AAA;*/
}

.tile {
  display: grid;
  place-items: center;
  border-radius: 10px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  /* debugging */
  /*background: #EEE;*/
}

.tile img {
  max-height:90%;
  max-width:90%;
  border-radius: 10px;
}

.tile:hover h2 {
  color: #F38630;
}

.tile a {
  text-decoration: none;
  text-align: center;
}
